.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: 38px;
    font-weight: 800;
    color: hsl(0, 2%, 20%);
}
.food-display h2:hover{
    color: hsl(36, 73%, 40%);
    transition: 0.4s;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /*grid coloumn*/
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}