.food-items{
    width: 100%;
    margin: auto;
    border: 1px solid hsla(203, 13%, 32%, 0.638) ;
    border-radius: 14px;
    box-shadow: 0px 0px 10px hsla(0, 4%, 26%, 0.702);
    transition: 0.4s;
    animation: fadeIn 1s;  
    cursor: pointer;
}
.food-items:hover{
    background-color: rgba(31, 184, 211, 0.567);
    transition: 0.4s;
}

.food-item-img{
    width: 100%;
    border-radius: 14px 14px 0px 0px;
}
.food-item-info{
    padding: 20px;
}
.food-item-img-name-rating{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 24px;
    font-weight: 724;
}
.food-item-name-rating p:hover{
    color: hsla(133, 44%, 32%, 0.839);
}
.food-item-description{
    font-size: medium;
}
.food-item-description:hover{
    color: hsla(321, 42%, 44%, 0.778);
}
.food-item-name-rating img{
    font-size: large;
    width: 80px;
}
.food-item-description{
    font-size: medium;
    color: #423e39c9;
}
.food-item-price{
    font-size: 24px;
    color: hsl(14, 100%, 50%);
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 34px;
    position: absolute;
    bottom: 14px;
    right: 14px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-img-container .add:hover{
    width: 44px;
    transition: 0.1s;
}
.food-item-counter{
    position: absolute;
    bottom: 14px;
    right: 14px;
    border-radius: 50px;
    gap: 8px;
    pad: 10px;
    display: flex;
    background-color: rgba(79, 235, 235, 0.896);
    align-items: center;
}
.food-item-counter img{
    width: 34px;
}
.food-item-counter img:hover{
    width: 38px;
}